#graph_back{width: 800px; height: auto; position: absolute; right: 0px; top: calc(50% - 390px);  z-index: 0; opacity: 1;}
#graph0 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: 9; opacity: 0;}
#graph1 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph2 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph21 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph22 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph23 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph24 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph211 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph212 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph221 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph222 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph231 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}

#graph223 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph223_2 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}

#graph3 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph302 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph3_3 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph3_4 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph3_5 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}

#graph31 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph32 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph311 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph321 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph322 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}

#graph4 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph4_2 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
#graph4_3 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}

#graph5 {width: 620px; height: auto; position: absolute;left: calc(50% + 260px); top: calc(50% - 360px);  z-index: -2;}
