        #vi0{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
        #vigame{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
        #vising{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
        #vifood{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
        #viedit{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi2{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi21{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi211{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi212{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi22{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi23{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       
       #vi24{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi221{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi222{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi231{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi223{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi223_2{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi3{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi302{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi3_3{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi3_4{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi3_5{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi31{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       
       #vi32{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi311{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi321{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}

       #vi322{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       
       #vi4{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi4_2{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       #vi4_3{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}
       
       #vi5{width:1020px; position: absolute; left: calc(50% - 910px); top: calc(50% - 300px); z-index: -2;}